[Unit]
Description=system beep
Wants=systemd-networkd.service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/beep -f 5000 -l 50 -r 2

[Install]
WantedBy=multi-user.target
