[Unit]
Description=system beep
Wants=systemd-networkd.service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/beep -l 350 -f 392 -D 100 --new -l 350 -f 392 -D 100 --new -l 350 -f 392 -D 100 --new -l 250 -f 311.1 -D 100 --new -l 25 -f 466.2 -D 100 --new -l 350 -f 392 -D 100 --new -l 250 -f 311.1 -D 100 --new -l 25 -f 466.2 -D 100 --new -l 700 -f 392 -D 100 

[Install]
WantedBy=multi-user.target
